In [3]:
import numpy as np
import warnings
warnings.filterwarnings("ignore")

In [4]:
import pandas as pd

booking_data = pd.read_csv(r"C:\Users\bhave\Downloads\data\12month_flight_booking.csv")
revenue_data = pd.read_csv(r"C:\Users\bhave\Downloads\data\12months_flight_revenue.csv")
booking_prediction_data = pd.read_csv(r"C:\Users\bhave\Downloads\data\3months_flight_booking_prediction.csv")
revenue_prediction_data = pd.read_csv(r"C:\Users\bhave\Downloads\data\3months_flight_revenue_prediction.csv")
schedule_data = pd.read_csv(r"C:\Users\bhave\Downloads\data\Schedule data.csv")
market_data=pd.read_csv(r"C:\Users\bhave\Downloads\650c816ecf295_Fin-A-Lytics__Optima_x_Sabre\data\schedule_data.csv")

In [5]:
booking_data

,Unnamed: 0,Origin,Destination,Cabin,Booking Class,Booking Class Fare USD,Airline,Flight number,Dep_Date,Dep_time,...,Class RDay Res Hold Total RDay: 9,Class RDay Res Hold Total RDay: 8,Class RDay Res Hold Total RDay: 7,Class RDay Res Hold Total RDay: 6,Class RDay Res Hold Total RDay: 5,Class RDay Res Hold Total RDay: 4,Class RDay Res Hold Total RDay: 3,Class RDay Res Hold Total RDay: 2,Class RDay Res Hold Total RDay: 1,Class RDay Res Hold Total RDay: 0
0,0,BBB,DDD,Y,N,200.01,AA,304,2022-04-10,05:55,...,10.0,10.0,10.0,10.0,10.0,10.0,10.0,10.0,10.0,10
1,1,BBB,DDD,Y,H,463.65,AA,304,2022-04-10,05:55,...,0.0,0.0,0.0,1.0,6.0,7.0,7.0,7.0,7.0,7
2,2,BBB,DDD,Y,G,149.83,AA,304,2022-04-10,05:55,...,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1
3,3,BBB,DDD,Y,T,127.29,AA,304,2022-04-10,05:55,...,5.0,5.0,5.0,5.0,5.0,5.0,5.0,5.0,5.0,5
4,4,BBB,DDD,Y,S,90.92,AA,304,2022-04-10,05:55,...,10.0,10.0,10.0,10.0,10.0,10.0,10.0,10.0,10.0,10
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
195769,212776,YYY,CCC,Y,I,262.00,AA,65,2023-09-20,17:45,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0
195770,212777,YYY,CCC,Y,T,301.27,AA,65,2023-09-20,17:45,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0
195771,212778,YYY,CCC,Y,M,386.14,AA,65,2023-09-20,17:45,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0
195772,212779,YYY,CCC,Y,H,809.18,AA,65,2023-09-20,17:45,...,5.0,5.0,5.0,5.0,5.0,5.0,5.0,5.0,5.0,5
195773,212780,YYY,CCC,Y,N,425.34,AA,65,2023-09-20,17:45,...,17.0,17.0,17.0,17.0,17.0,17.0,17.0,17.0,17.0,17

In [6]:
booking_prediction_data

,Unnamed: 0,Origin,Destination,Cabin,Booking Class,Booking Class Fare USD,Airline,Flight number,Dep_Date,Dep_time,...,Class RDay Res Hold Total RDay: 9,Class RDay Res Hold Total RDay: 8,Class RDay Res Hold Total RDay: 7,Class RDay Res Hold Total RDay: 6,Class RDay Res Hold Total RDay: 5,Class RDay Res Hold Total RDay: 4,Class RDay Res Hold Total RDay: 3,Class RDay Res Hold Total RDay: 2,Class RDay Res Hold Total RDay: 1,Class RDay Res Hold Total RDay: 0
0,1663,BBB,DDD,Y,S,90.92,AA,306,2023-10-02,06:05,...,11.0,11.0,11.0,11.0,11.0,11.0,11.0,11.0,11.0,11
1,1664,BBB,DDD,Y,G,179.80,AA,306,2023-10-02,06:05,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0
2,1665,BBB,DDD,Y,N,209.10,AA,306,2023-10-02,06:05,...,4.0,4.0,4.0,4.0,4.0,4.0,4.0,4.0,4.0,4
3,1666,BBB,DDD,Y,T,136.38,AA,306,2023-10-02,06:05,...,25.0,25.0,25.0,25.0,25.0,25.0,25.0,25.0,25.0,25
4,1667,BBB,DDD,Y,B,645.47,AA,306,2023-10-02,06:05,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
17022,212796,YYY,CCC,Y,W,968.69,AA,65,2023-09-21,17:45,...,8.0,8.0,8.0,8.0,8.0,8.0,8.0,8.0,8.0,8
17023,212797,YYY,CCC,J,D,1348.90,AA,65,2023-09-21,17:45,...,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1
17024,212798,YYY,CCC,Y,Q,316.91,AA,65,2023-09-21,17:45,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0
17025,212799,YYY,CCC,Y,K,693.79,AA,65,2023-09-21,17:45,...,6.0,6.0,6.0,7.0,7.0,7.0,7.0,7.0,7.0,7
17026,212800,YYY,CCC,Y,E,533.52,AA,65,2023-09-21,17:45,...,39.0,43.0,43.0,43.0,43.0,43.0,43.0,43.0,43.0,43

In [7]:
booking_prediction_data.drop(['Unnamed: 0'], axis=1, inplace=True)
revenue_prediction_data.drop(['Unnamed: 0'], axis=1, inplace=True)
revenue_prediction_data.drop('Booking Class Fare USD', axis=1, inplace=True)

In [8]:
booking_data.drop(['Unnamed: 0'], axis=1, inplace=True)
revenue_data.drop(['Unnamed: 0'], axis=1, inplace=True)
revenue_data.drop('Booking Class Fare USD', axis=1, inplace=True)

In [9]:
booking_data.fillna(0.0, inplace=True)
revenue_data.fillna(0.0, inplace=True)

In [10]:
booking_prediction_data.fillna(0.0, inplace=True)
revenue_prediction_data.fillna(0.0, inplace=True)

In [11]:
booking_data['Tickets purchased on Day -365'] = booking_data['Class RDay Res Hold Total RDay: 365']
for i in range(1, 366):
    booking_data[f'Tickets purchased on Day {i - 365}'] = booking_data[f'Class RDay Res Hold Total RDay: {365 - i}'] - booking_data[f'Class RDay Res Hold Total RDay: {366 - i}']

for i in range(366):
    booking_data.drop(f'Class RDay Res Hold Total RDay: {i}', axis=1, inplace=True)

In [12]:
booking_prediction_data['Tickets purchased on Day -365'] = booking_prediction_data['Class RDay Res Hold Total RDay: 365']
for i in range(1, 366):
    booking_prediction_data[f'Tickets purchased on Day {i - 365}'] = booking_prediction_data[f'Class RDay Res Hold Total RDay: {365 - i}'] - booking_prediction_data[f'Class RDay Res Hold Total RDay: {366 - i}']

for i in range(366):
    booking_prediction_data.drop(f'Class RDay Res Hold Total RDay: {i}', axis=1, inplace=True)

In [13]:
revenue_data['Revenue generated on Day -365'] = revenue_data['Class RDay Rev RDay: 365']
for i in range(1, 366):
    revenue_data[f'Revenue generated on Day {i - 365}'] = revenue_data[f'Class RDay Rev RDay: {365 - i}'] - revenue_data[f'Class RDay Rev RDay: {366 - i}']

for i in range(366):
    revenue_data.drop(f'Class RDay Rev RDay: {i}', axis=1, inplace=True)

In [14]:
revenue_prediction_data['Revenue generated on Day -365'] = revenue_prediction_data['Class RDay Rev RDay: 365']
for i in range(1, 366):
    revenue_prediction_data[f'Revenue generated on Day {i - 365}'] = revenue_prediction_data[f'Class RDay Rev RDay: {365 - i}'] - revenue_prediction_data[f'Class RDay Rev RDay: {366 - i}']

for i in range(366):
    revenue_prediction_data.drop(f'Class RDay Rev RDay: {i}', axis=1, inplace=True)

In [15]:
booking_data

,Origin,Destination,Cabin,Booking Class,Booking Class Fare USD,Airline,Flight number,Dep_Date,Dep_time,Tickets purchased on Day -365,...,Tickets purchased on Day -9,Tickets purchased on Day -8,Tickets purchased on Day -7,Tickets purchased on Day -6,Tickets purchased on Day -5,Tickets purchased on Day -4,Tickets purchased on Day -3,Tickets purchased on Day -2,Tickets purchased on Day -1,Tickets purchased on Day 0
0,BBB,DDD,Y,N,200.01,AA,304,2022-04-10,05:55,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1,BBB,DDD,Y,H,463.65,AA,304,2022-04-10,05:55,0.0,...,0.0,0.0,0.0,1.0,5.0,1.0,0.0,0.0,0.0,0.0
2,BBB,DDD,Y,G,149.83,AA,304,2022-04-10,05:55,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3,BBB,DDD,Y,T,127.29,AA,304,2022-04-10,05:55,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
4,BBB,DDD,Y,S,90.92,AA,304,2022-04-10,05:55,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
195769,YYY,CCC,Y,I,262.00,AA,65,2023-09-20,17:45,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
195770,YYY,CCC,Y,T,301.27,AA,65,2023-09-20,17:45,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
195771,YYY,CCC,Y,M,386.14,AA,65,2023-09-20,17:45,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
195772,YYY,CCC,Y,H,809.18,AA,65,2023-09-20,17:45,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
195773,YYY,CCC,Y,N,425.34,AA,65,2023-09-20,17:45,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [16]:
revenue_data

,Origin,Destination,Cabin,Booking Class,Airline,Flight number,Dep_Date,Dep_time,Revenue generated on Day -365,Revenue generated on Day -364,...,Revenue generated on Day -9,Revenue generated on Day -8,Revenue generated on Day -7,Revenue generated on Day -6,Revenue generated on Day -5,Revenue generated on Day -4,Revenue generated on Day -3,Revenue generated on Day -2,Revenue generated on Day -1,Revenue generated on Day 0
0,BBB,DDD,Y,N,AA,304,2022-04-10,05:55,0.0,0.0,...,0.0,0.0,0.00,0.00,0.00,0.0,0.00,0.0,0.00,0.00
1,BBB,DDD,Y,T,AA,304,2022-04-10,05:55,0.0,0.0,...,0.0,0.0,0.00,0.00,0.00,0.0,0.00,0.0,0.00,0.00
2,BBB,DDD,Y,E,AA,304,2022-04-10,05:55,0.0,0.0,...,0.0,0.0,0.00,0.00,0.00,0.0,0.00,0.0,0.00,0.00
3,BBB,DDD,J,D,AA,304,2022-04-10,05:55,0.0,0.0,...,0.0,0.0,0.00,0.00,315.27,0.0,0.00,0.0,0.00,0.00
4,BBB,DDD,Y,V,AA,304,2022-04-10,05:55,0.0,0.0,...,0.0,0.0,0.00,0.00,0.00,0.0,0.00,0.0,148.68,0.00
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
191707,YYY,CCC,Y,Q,AA,65,2023-09-20,17:45,0.0,0.0,...,0.0,0.0,1.01,-1.20,0.14,0.0,-0.37,0.0,0.00,-0.37
191708,YYY,CCC,J,C,AA,65,2023-09-20,17:45,0.0,0.0,...,0.0,0.0,3.10,-3.70,0.46,0.0,-1.17,0.0,0.00,0.18
191709,YYY,CCC,Y,V,AA,65,2023-09-20,17:45,0.0,0.0,...,0.0,0.0,1.06,-1.27,0.16,0.0,-0.40,0.0,0.00,3.33
191710,YYY,CCC,Y,N,AA,65,2023-09-20,17:45,0.0,0.0,...,0.0,0.0,4.84,-5.76,0.72,0.0,-1.84,0.0,0.00,16.04
191711,YYY,CCC,Y,L,AA,65,2023-09-20,17:45,0.0,0.0,...,0.0,0.0,1.39,-1.66,0.20,0.0,-0.52,0.0,0.00,5.64

In [17]:
revenue_prediction_data

,Origin,Destination,Cabin,Booking Class,Airline,Flight number,Dep_Date,Dep_time,Revenue generated on Day -365,Revenue generated on Day -364,...,Revenue generated on Day -9,Revenue generated on Day -8,Revenue generated on Day -7,Revenue generated on Day -6,Revenue generated on Day -5,Revenue generated on Day -4,Revenue generated on Day -3,Revenue generated on Day -2,Revenue generated on Day -1,Revenue generated on Day 0
0,BBB,DDD,Y,T,AA,306,2023-10-02,06:05,0.0,0.0,...,-0.02,0.00,0.00,0.00,0.0,0.92,0.00,1.74,109.76,-0.03
1,BBB,DDD,Y,N,AA,306,2023-10-02,06:05,0.0,0.0,...,-0.09,0.00,0.00,0.00,0.0,10.80,0.00,-28.17,-0.09,-0.18
2,BBB,DDD,Y,L,AA,306,2023-10-02,06:05,0.0,0.0,...,-0.01,0.00,0.00,0.00,0.0,-2.07,0.00,-3.66,-0.02,-0.04
3,BBB,DDD,Y,Q,AA,306,2023-10-02,06:05,0.0,0.0,...,-0.01,0.00,0.00,0.00,0.0,3.52,0.00,-1.40,-0.01,-0.01
4,BBB,DDD,Y,E,AA,306,2023-10-02,06:05,0.0,0.0,...,-0.12,0.00,0.00,0.00,0.0,-4.76,0.00,-13.68,-0.08,-0.12
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
16052,YYY,CCC,Y,T,AA,65,2023-09-21,17:45,0.0,0.0,...,0.00,0.00,0.00,0.00,0.0,0.00,263.10,0.00,0.90,0.00
16053,YYY,CCC,Y,H,AA,65,2023-09-21,17:45,0.0,0.0,...,0.00,-3.00,-22.20,2.80,0.0,-0.20,-7.00,0.00,180.20,0.00
16054,YYY,CCC,Y,B,AA,65,2023-09-21,17:45,0.0,0.0,...,0.00,-1.24,-9.40,1.20,0.0,-0.12,-2.96,839.81,29.25,0.00
16055,YYY,CCC,Y,K,AA,65,2023-09-21,17:45,0.0,0.0,...,0.00,-1.61,-11.97,1.54,0.0,-0.14,-3.78,0.00,0.00,0.00
16056,YYY,CCC,Y,L,AA,65,2023-09-21,17:45,0.0,0.0,...,0.00,-3.30,-24.30,3.00,0.0,-0.15,-7.65,0.00,84.60,0.00

In [18]:
booking_prediction_data

,Origin,Destination,Cabin,Booking Class,Booking Class Fare USD,Airline,Flight number,Dep_Date,Dep_time,Tickets purchased on Day -365,...,Tickets purchased on Day -9,Tickets purchased on Day -8,Tickets purchased on Day -7,Tickets purchased on Day -6,Tickets purchased on Day -5,Tickets purchased on Day -4,Tickets purchased on Day -3,Tickets purchased on Day -2,Tickets purchased on Day -1,Tickets purchased on Day 0
0,BBB,DDD,Y,S,90.92,AA,306,2023-10-02,06:05,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1,BBB,DDD,Y,G,179.80,AA,306,2023-10-02,06:05,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2,BBB,DDD,Y,N,209.10,AA,306,2023-10-02,06:05,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3,BBB,DDD,Y,T,136.38,AA,306,2023-10-02,06:05,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
4,BBB,DDD,Y,B,645.47,AA,306,2023-10-02,06:05,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
17022,YYY,CCC,Y,W,968.69,AA,65,2023-09-21,17:45,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
17023,YYY,CCC,J,D,1348.90,AA,65,2023-09-21,17:45,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
17024,YYY,CCC,Y,Q,316.91,AA,65,2023-09-21,17:45,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
17025,YYY,CCC,Y,K,693.79,AA,65,2023-09-21,17:45,0.0,...,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0
17026,YYY,CCC,Y,E,533.52,AA,65,2023-09-21,17:45,0.0,...,0.0,4.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [19]:
merged_data_p = pd.merge(booking_prediction_data, revenue_prediction_data, on=[' Origin', ' Destination', 'Flight number', 'Dep_Date', 'Dep_time', 'Airline', 'Cabin', 'Booking Class'], how='inner')
print(merged_data_p.shape)
merged_data_p.head()

(14348, 741)

,Origin,Destination,Cabin,Booking Class,Booking Class Fare USD,Airline,Flight number,Dep_Date,Dep_time,Tickets purchased on Day -365,...,Revenue generated on Day -9,Revenue generated on Day -8,Revenue generated on Day -7,Revenue generated on Day -6,Revenue generated on Day -5,Revenue generated on Day -4,Revenue generated on Day -3,Revenue generated on Day -2,Revenue generated on Day -1,Revenue generated on Day 0
0,BBB,DDD,Y,S,90.92,AA,306,2023-10-02,06:05,0.0,...,0.00,0.0,0.0,0.0,0.0,0.00,0.0,0.00,0.00,0.00
1,BBB,DDD,Y,N,209.10,AA,306,2023-10-02,06:05,0.0,...,-0.09,0.0,0.0,0.0,0.0,10.80,0.0,-28.17,-0.09,-0.18
2,BBB,DDD,Y,N,209.10,AA,306,2023-10-02,06:05,0.0,...,0.00,0.0,0.0,0.0,0.0,0.00,0.0,0.00,0.00,0.00
3,BBB,DDD,Y,T,136.38,AA,306,2023-10-02,06:05,0.0,...,-0.02,0.0,0.0,0.0,0.0,0.92,0.0,1.74,109.76,-0.03
4,BBB,DDD,Y,T,136.38,AA,306,2023-10-02,06:05,0.0,...,0.00,0.0,0.0,0.0,0.0,0.00,0.0,0.00,0.00,0.00

In [20]:
merged_data = pd.merge(booking_data, revenue_data, on=[' Origin', ' Destination', 'Flight number', 'Dep_Date', 'Dep_time', 'Airline', 'Cabin', 'Booking Class'], how='inner')
print(merged_data.shape)
merged_data.head()

(172647, 741)

,Origin,Destination,Cabin,Booking Class,Booking Class Fare USD,Airline,Flight number,Dep_Date,Dep_time,Tickets purchased on Day -365,...,Revenue generated on Day -9,Revenue generated on Day -8,Revenue generated on Day -7,Revenue generated on Day -6,Revenue generated on Day -5,Revenue generated on Day -4,Revenue generated on Day -3,Revenue generated on Day -2,Revenue generated on Day -1,Revenue generated on Day 0
0,BBB,DDD,Y,N,200.01,AA,304,2022-04-10,05:55,0.0,...,0.0,0.0,0.0,0.00,0.00,0.00,0.0,0.0,0.0,0.0
1,BBB,DDD,Y,N,200.01,AA,304,2022-04-10,05:55,0.0,...,0.0,0.0,0.0,0.00,0.00,0.00,0.0,0.0,0.0,0.0
2,BBB,DDD,Y,H,463.65,AA,304,2022-04-10,05:55,0.0,...,0.0,0.0,0.0,463.65,2318.25,463.65,0.0,0.0,0.0,0.0
3,BBB,DDD,Y,G,149.83,AA,304,2022-04-10,05:55,0.0,...,0.0,0.0,0.0,0.00,0.00,0.00,0.0,0.0,0.0,0.0
4,BBB,DDD,Y,T,127.29,AA,304,2022-04-10,05:55,0.0,...,0.0,0.0,0.0,0.00,0.00,0.00,0.0,0.0,0.0,0.0

In [21]:
for i in range(366)[::-1]:
    merged_data[f'Ticket\'s Price on day {-i}'] = merged_data[f'Revenue generated on Day {-i}'] / merged_data[f'Tickets purchased on Day {-i}']
    merged_data.drop([f'Revenue generated on Day {-i}', f'Tickets purchased on Day {-i}'], axis=1, inplace=True)
merged_data.head()

,Origin,Destination,Cabin,Booking Class,Booking Class Fare USD,Airline,Flight number,Dep_Date,Dep_time,Ticket's Price on day -365,...,Ticket's Price on day -9,Ticket's Price on day -8,Ticket's Price on day -7,Ticket's Price on day -6,Ticket's Price on day -5,Ticket's Price on day -4,Ticket's Price on day -3,Ticket's Price on day -2,Ticket's Price on day -1,Ticket's Price on day 0
0,BBB,DDD,Y,N,200.01,AA,304,2022-04-10,05:55,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,BBB,DDD,Y,N,200.01,AA,304,2022-04-10,05:55,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,BBB,DDD,Y,H,463.65,AA,304,2022-04-10,05:55,NaN,...,NaN,NaN,NaN,463.65,463.65,463.65,NaN,NaN,NaN,NaN
3,BBB,DDD,Y,G,149.83,AA,304,2022-04-10,05:55,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,BBB,DDD,Y,T,127.29,AA,304,2022-04-10,05:55,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [22]:
for i in range(366)[::-1]:
    merged_data_p[f'Ticket\'s Price on day {-i}'] = merged_data_p[f'Revenue generated on Day {-i}'] / merged_data_p[f'Tickets purchased on Day {-i}']
    merged_data_p.drop([f'Revenue generated on Day {-i}', f'Tickets purchased on Day {-i}'], axis=1, inplace=True)
merged_data_p.head()

,Origin,Destination,Cabin,Booking Class,Booking Class Fare USD,Airline,Flight number,Dep_Date,Dep_time,Ticket's Price on day -365,...,Ticket's Price on day -9,Ticket's Price on day -8,Ticket's Price on day -7,Ticket's Price on day -6,Ticket's Price on day -5,Ticket's Price on day -4,Ticket's Price on day -3,Ticket's Price on day -2,Ticket's Price on day -1,Ticket's Price on day 0
0,BBB,DDD,Y,S,90.92,AA,306,2023-10-02,06:05,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,BBB,DDD,Y,N,209.10,AA,306,2023-10-02,06:05,NaN,...,-inf,NaN,NaN,NaN,NaN,inf,NaN,-inf,-inf,-inf
2,BBB,DDD,Y,N,209.10,AA,306,2023-10-02,06:05,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,BBB,DDD,Y,T,136.38,AA,306,2023-10-02,06:05,NaN,...,-inf,NaN,NaN,NaN,NaN,inf,NaN,inf,inf,-inf
4,BBB,DDD,Y,T,136.38,AA,306,2023-10-02,06:05,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [23]:
merged_data['Ticket\'s Price on day -365'].fillna(0.0, inplace=True)
merged_data.head()

,Origin,Destination,Cabin,Booking Class,Booking Class Fare USD,Airline,Flight number,Dep_Date,Dep_time,Ticket's Price on day -365,...,Ticket's Price on day -9,Ticket's Price on day -8,Ticket's Price on day -7,Ticket's Price on day -6,Ticket's Price on day -5,Ticket's Price on day -4,Ticket's Price on day -3,Ticket's Price on day -2,Ticket's Price on day -1,Ticket's Price on day 0
0,BBB,DDD,Y,N,200.01,AA,304,2022-04-10,05:55,0.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,BBB,DDD,Y,N,200.01,AA,304,2022-04-10,05:55,0.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,BBB,DDD,Y,H,463.65,AA,304,2022-04-10,05:55,0.0,...,NaN,NaN,NaN,463.65,463.65,463.65,NaN,NaN,NaN,NaN
3,BBB,DDD,Y,G,149.83,AA,304,2022-04-10,05:55,0.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,BBB,DDD,Y,T,127.29,AA,304,2022-04-10,05:55,0.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [24]:
merged_data_p['Ticket\'s Price on day -365'].fillna(0.0, inplace=True)
merged_data_p.head()

,Origin,Destination,Cabin,Booking Class,Booking Class Fare USD,Airline,Flight number,Dep_Date,Dep_time,Ticket's Price on day -365,...,Ticket's Price on day -9,Ticket's Price on day -8,Ticket's Price on day -7,Ticket's Price on day -6,Ticket's Price on day -5,Ticket's Price on day -4,Ticket's Price on day -3,Ticket's Price on day -2,Ticket's Price on day -1,Ticket's Price on day 0
0,BBB,DDD,Y,S,90.92,AA,306,2023-10-02,06:05,0.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,BBB,DDD,Y,N,209.10,AA,306,2023-10-02,06:05,0.0,...,-inf,NaN,NaN,NaN,NaN,inf,NaN,-inf,-inf,-inf
2,BBB,DDD,Y,N,209.10,AA,306,2023-10-02,06:05,0.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,BBB,DDD,Y,T,136.38,AA,306,2023-10-02,06:05,0.0,...,-inf,NaN,NaN,NaN,NaN,inf,NaN,inf,inf,-inf
4,BBB,DDD,Y,T,136.38,AA,306,2023-10-02,06:05,0.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [25]:
merged_data.replace(-np.inf, np.nan, inplace=True)
merged_data.replace(np.inf, np.nan, inplace=True)
merged_data = merged_data.ffill(axis=1)
merged_data.fillna(0.0, inplace=True)
merged_data.head()

,Origin,Destination,Cabin,Booking Class,Booking Class Fare USD,Airline,Flight number,Dep_Date,Dep_time,Ticket's Price on day -365,...,Ticket's Price on day -9,Ticket's Price on day -8,Ticket's Price on day -7,Ticket's Price on day -6,Ticket's Price on day -5,Ticket's Price on day -4,Ticket's Price on day -3,Ticket's Price on day -2,Ticket's Price on day -1,Ticket's Price on day 0
0,BBB,DDD,Y,N,200.01,AA,304,2022-04-10,05:55,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1,BBB,DDD,Y,N,200.01,AA,304,2022-04-10,05:55,0.0,...,190.92,190.92,190.92,190.92,190.92,190.92,190.92,190.92,190.92,190.92
2,BBB,DDD,Y,H,463.65,AA,304,2022-04-10,05:55,0.0,...,0.0,0.0,0.0,463.65,463.65,463.65,463.65,463.65,463.65,463.65
3,BBB,DDD,Y,G,149.83,AA,304,2022-04-10,05:55,0.0,...,149.83,149.83,149.83,149.83,149.83,149.83,149.83,149.83,149.83,149.83
4,BBB,DDD,Y,T,127.29,AA,304,2022-04-10,05:55,0.0,...,-0.0,-0.0,-0.0,-0.0,-0.0,-0.0,-0.0,-0.0,-0.0,-0.0

In [26]:
merged_data_p.replace(-np.inf, np.nan, inplace=True)
merged_data_p.replace(np.inf, np.nan, inplace=True)
merged_data_p = merged_data_p.ffill(axis=1)
merged_data_p.fillna(0.0, inplace=True)
merged_data_p.head()

,Origin,Destination,Cabin,Booking Class,Booking Class Fare USD,Airline,Flight number,Dep_Date,Dep_time,Ticket's Price on day -365,...,Ticket's Price on day -9,Ticket's Price on day -8,Ticket's Price on day -7,Ticket's Price on day -6,Ticket's Price on day -5,Ticket's Price on day -4,Ticket's Price on day -3,Ticket's Price on day -2,Ticket's Price on day -1,Ticket's Price on day 0
0,BBB,DDD,Y,S,90.92,AA,306,2023-10-02,06:05,0.0,...,90.92,90.92,90.92,90.92,90.92,90.92,90.92,90.92,90.92,90.92
1,BBB,DDD,Y,N,209.1,AA,306,2023-10-02,06:05,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2,BBB,DDD,Y,N,209.1,AA,306,2023-10-02,06:05,0.0,...,209.1,209.1,209.1,209.1,209.1,209.1,209.1,209.1,209.1,209.1
3,BBB,DDD,Y,T,136.38,AA,306,2023-10-02,06:05,0.0,...,0.01,0.01,0.01,0.01,0.01,0.01,0.01,0.01,0.01,0.01
4,BBB,DDD,Y,T,136.38,AA,306,2023-10-02,06:05,0.0,...,136.38,136.38,136.38,136.38,136.38,136.38,136.38,136.38,136.38,136.38

In [27]:
schedule_data

,Origin,Destination,Airline,Flight No,sch. Effective Date,sch. Discontinued Date,Dep Time,Arr Time,Flight Duration (mins),Frequency (MTWTFSS),Total_Dept,Seats per Dept
0,AAA,BBB,DD,801,20231201,20231231,15:55,17:50,145,1234567,31,186
1,AAA,BBB,II,906,20231101,20231130,10:30,12:30,150,1234567,30,176
2,AAA,BBB,AA,1405,20231204,20231231,18:50,20:50,150,12345--,20,174
3,AAA,BBB,HH,1407,20231101,20231130,20:50,22:55,155,12345--,22,100
4,AAA,BBB,BB,668,20221017,20221023,20:25,22:15,140,12345-7,6,174
...,...,...,...,...,...,...,...,...,...,...,...,...
17064,YYY,CCC,DD,37,20230731,20230731,16:40,21:05,385,-2-4--7,0,0
17065,YYY,CCC,CC,715,20230731,20230731,10:05,14:35,390,----5-7,0,0
17066,YYY,CCC,BB,43,20221128,20221130,16:35,20:00,385,------7,0,0
17067,YYY,CCC,AA,65,20230101,20230101,17:55,21:25,390,12-456-,0,0
17068,YYY,CCC,BB,43,20221031,20221031,16:35,20:00,385,------7,0,0

In [28]:
schedule_data['Total Seats'] = schedule_data['Total_Dept'] * schedule_data['Seats per Dept']
schedule_data['market Share']=market_data['Market Share']

In [29]:
# Calculate the total seats for each route
total_seats_by_route = schedule_data.groupby(['Origin', 'Destination'])['Total Seats'].transform('sum')

# Calculate the total seats for each route
total_seats_by_route_by_airline = schedule_data.groupby(['Origin', 'Destination','Airline'])['Total Seats'].transform('sum')

# Calculate the market share for each airline on each route
schedule_data['Market Share for each route'] = total_seats_by_route_by_airline / total_seats_by_route

schedule_data['Total Seats by route'] = total_seats_by_route

In [30]:
print(schedule_data['Frequency (MTWTFSS)'].unique().shape)

(124,)

In [31]:
days = [[], [], [], [], [], [], []]
for day in schedule_data['Frequency (MTWTFSS)']:
  for pos, i in enumerate(day.strip()):
    if i != '-':
      days[(int)(i) - 1].append(1)
    else:
      days[pos].append(0)

for i, col in enumerate(['Mon', 'Tue', 'Wed', 'Thu', 'Fri', 'Sat', 'Sun']):
  schedule_data[col] = pd.DataFrame(days[i])

schedule_data.drop(['Frequency (MTWTFSS)'], axis=1, inplace=True)

schedule_data

,Origin,Destination,Airline,Flight No,sch. Effective Date,sch. Discontinued Date,Dep Time,Arr Time,Flight Duration (mins),Total_Dept,...,market Share,Market Share for each route,Total Seats by route,Mon,Tue,Wed,Thu,Fri,Sat,Sun
0,AAA,BBB,DD,801,20231201,20231231,15:55,17:50,145,31,...,14.60,0.138341,646770,1,1,1,1,1,1,1
1,AAA,BBB,II,906,20231101,20231130,10:30,12:30,150,30,...,0.10,0.016872,646770,1,1,1,1,1,1,1
2,AAA,BBB,AA,1405,20231204,20231231,18:50,20:50,150,20,...,34.60,0.351708,646770,1,1,1,1,1,0,0
3,AAA,BBB,HH,1407,20231101,20231130,20:50,22:55,155,22,...,37.80,0.437200,646770,1,1,1,1,1,0,0
4,AAA,BBB,BB,668,20221017,20221023,20:25,22:15,140,6,...,13.00,0.055879,646770,1,1,1,1,1,0,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
17064,YYY,CCC,DD,37,20230731,20230731,16:40,21:05,385,0,...,35.34,0.386111,536620,0,1,0,1,0,0,1
17065,YYY,CCC,CC,715,20230731,20230731,10:05,14:35,390,0,...,9.85,0.091827,536620,0,0,0,0,1,0,1
17066,YYY,CCC,BB,43,20221128,20221130,16:35,20:00,385,0,...,13.10,0.168659,536620,0,0,0,0,0,0,1
17067,YYY,CCC,AA,65,20230101,20230101,17:55,21:25,390,0,...,21.01,0.146886,536620,1,1,0,1,1,1,0
17068,YYY,CCC,BB,43,20221031,20221031,16:35,20:00,385,0,...,13.10,0.168659,536620,0,0,0,0,0,0,1

In [32]:
import datetime

schedule_data['exact_dates'] = None

weekday_mapping = {
    0: 'Mon',
    1: 'Tue',
    2: 'Wed',
    3: 'Thu',
    4: 'Fri',
    5: 'Sat',
    6: 'Sun'
}

# Create a new column to store the exact dates that the flight operated
schedule_data['exact_dates'] = None

# Iterate over each row in the DataFrame
for index, row in schedule_data.iterrows():

    # Get the effective and discontinued dates
    effective_date = datetime.datetime.strptime(str(row['sch. Effective Date']), '%Y%m%d')
    discontinued_date = datetime.datetime.strptime(str(row['sch. Discontinued Date']), '%Y%m%d')

    # Create a list of all the dates that the flight operated
    exact_dates = []
    for date in pd.date_range(effective_date, discontinued_date, freq='D'):

        # Check if the flight operated on that day
        if row[weekday_mapping[date.weekday()]] == 1:
            exact_dates.append(date)

    # Convert the list of dates to strings in yyyy-mm-dd format
    exact_dates = [date.strftime('%Y-%m-%d') for date in exact_dates]

    # Add the list of exact dates to the new column
    schedule_data.at[index, 'exact_dates'] = exact_dates
    
schedule_data

,Origin,Destination,Airline,Flight No,sch. Effective Date,sch. Discontinued Date,Dep Time,Arr Time,Flight Duration (mins),Total_Dept,...,Market Share for each route,Total Seats by route,Mon,Tue,Wed,Thu,Fri,Sat,Sun,exact_dates
0,AAA,BBB,DD,801,20231201,20231231,15:55,17:50,145,31,...,0.138341,646770,1,1,1,1,1,1,1,"[2023-12-01, 2023-12-02, 2023-12-03, 2023-12-0..."
1,AAA,BBB,II,906,20231101,20231130,10:30,12:30,150,30,...,0.016872,646770,1,1,1,1,1,1,1,"[2023-11-01, 2023-11-02, 2023-11-03, 2023-11-0..."
2,AAA,BBB,AA,1405,20231204,20231231,18:50,20:50,150,20,...,0.351708,646770,1,1,1,1,1,0,0,"[2023-12-04, 2023-12-05, 2023-12-06, 2023-12-0..."
3,AAA,BBB,HH,1407,20231101,20231130,20:50,22:55,155,22,...,0.437200,646770,1,1,1,1,1,0,0,"[2023-11-01, 2023-11-02, 2023-11-03, 2023-11-0..."
4,AAA,BBB,BB,668,20221017,20221023,20:25,22:15,140,6,...,0.055879,646770,1,1,1,1,1,0,1,"[2022-10-17, 2022-10-18, 2022-10-19, 2022-10-2..."
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
17064,YYY,CCC,DD,37,20230731,20230731,16:40,21:05,385,0,...,0.386111,536620,0,1,0,1,0,0,1,[]
17065,YYY,CCC,CC,715,20230731,20230731,10:05,14:35,390,0,...,0.091827,536620,0,0,0,0,1,0,1,[]
17066,YYY,CCC,BB,43,20221128,20221130,16:35,20:00,385,0,...,0.168659,536620,0,0,0,0,0,0,1,[]
17067,YYY,CCC,AA,65,20230101,20230101,17:55,21:25,390,0,...,0.146886,536620,1,1,0,1,1,1,0,[]
17068,YYY,CCC,BB,43,20221031,20221031,16:35,20:00,385,0,...,0.168659,536620,0,0,0,0,0,0,1,[]

In [33]:
schedule_data.rename({'exact_dates': 'Dep_Date'}, inplace=True, axis=1)
schedule_data = schedule_data.explode(['Dep_Date'])
schedule_data = schedule_data[schedule_data['Total_Dept'] != 0]
schedule_data

,Origin,Destination,Airline,Flight No,sch. Effective Date,sch. Discontinued Date,Dep Time,Arr Time,Flight Duration (mins),Total_Dept,...,Market Share for each route,Total Seats by route,Mon,Tue,Wed,Thu,Fri,Sat,Sun,Dep_Date
0,AAA,BBB,DD,801,20231201,20231231,15:55,17:50,145,31,...,0.138341,646770,1,1,1,1,1,1,1,2023-12-01
0,AAA,BBB,DD,801,20231201,20231231,15:55,17:50,145,31,...,0.138341,646770,1,1,1,1,1,1,1,2023-12-02
0,AAA,BBB,DD,801,20231201,20231231,15:55,17:50,145,31,...,0.138341,646770,1,1,1,1,1,1,1,2023-12-03
0,AAA,BBB,DD,801,20231201,20231231,15:55,17:50,145,31,...,0.138341,646770,1,1,1,1,1,1,1,2023-12-04
0,AAA,BBB,DD,801,20231201,20231231,15:55,17:50,145,31,...,0.138341,646770,1,1,1,1,1,1,1,2023-12-05
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
17054,YYY,CCC,GG,172,20230617,20230617,6:55,11:05,370,1,...,0.115346,536620,0,0,0,0,0,1,0,2023-06-17
17055,YYY,CCC,EE,6006,20230104,20230104,6:55,10:25,390,1,...,0.091171,536620,0,0,1,0,0,0,0,2023-01-04
17056,YYY,CCC,GG,172,20230227,20230227,7:15,10:35,380,1,...,0.115346,536620,1,0,0,0,0,0,0,2023-02-27
17057,YYY,CCC,GG,172,20230530,20230531,6:55,11:05,370,1,...,0.115346,536620,1,1,0,0,0,0,1,2023-05-30
17058,YYY,CCC,GG,172,20221219,20221225,7:15,10:35,380,1,...,0.115346,536620,1,0,0,0,0,0,0,2022-12-19

In [34]:
booking_data.rename(columns={' Origin':'Origin',' Destination':'Destination'}, inplace=True)

In [35]:
booking_prediction_data.rename(columns={' Origin':'Origin',' Destination':'Destination'}, inplace=True)

In [36]:
booking_data['O D'] = booking_data['Origin'] + ' ' + booking_data['Destination']
print(booking_data['O D'].unique())

from sklearn.preprocessing import LabelEncoder
label_encoder = LabelEncoder()

booking_data['O D'] = label_encoder.fit_transform(booking_data['O D'])
booking_data.head()

['BBB DDD' 'AAA BBB' 'CCC DDD' 'ZZZ YYY' 'YYY AAA' 'YYY CCC']

,Origin,Destination,Cabin,Booking Class,Booking Class Fare USD,Airline,Flight number,Dep_Date,Dep_time,Tickets purchased on Day -365,...,Tickets purchased on Day -8,Tickets purchased on Day -7,Tickets purchased on Day -6,Tickets purchased on Day -5,Tickets purchased on Day -4,Tickets purchased on Day -3,Tickets purchased on Day -2,Tickets purchased on Day -1,Tickets purchased on Day 0,O D
0,BBB,DDD,Y,N,200.01,AA,304,2022-04-10,05:55,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1
1,BBB,DDD,Y,H,463.65,AA,304,2022-04-10,05:55,0.0,...,0.0,0.0,1.0,5.0,1.0,0.0,0.0,0.0,0.0,1
2,BBB,DDD,Y,G,149.83,AA,304,2022-04-10,05:55,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1
3,BBB,DDD,Y,T,127.29,AA,304,2022-04-10,05:55,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1
4,BBB,DDD,Y,S,90.92,AA,304,2022-04-10,05:55,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1

In [37]:
booking_prediction_data['O D'] = booking_prediction_data['Origin'] + ' ' + booking_prediction_data['Destination']
print(booking_prediction_data['O D'].unique())

label_encoder = LabelEncoder()

booking_prediction_data['O D'] = label_encoder.fit_transform(booking_prediction_data['O D'])
booking_prediction_data.head()

['BBB DDD' 'AAA BBB' 'CCC DDD' 'ZZZ YYY' 'YYY AAA' 'YYY CCC']

,Origin,Destination,Cabin,Booking Class,Booking Class Fare USD,Airline,Flight number,Dep_Date,Dep_time,Tickets purchased on Day -365,...,Tickets purchased on Day -8,Tickets purchased on Day -7,Tickets purchased on Day -6,Tickets purchased on Day -5,Tickets purchased on Day -4,Tickets purchased on Day -3,Tickets purchased on Day -2,Tickets purchased on Day -1,Tickets purchased on Day 0,O D
0,BBB,DDD,Y,S,90.92,AA,306,2023-10-02,06:05,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1
1,BBB,DDD,Y,G,179.80,AA,306,2023-10-02,06:05,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1
2,BBB,DDD,Y,N,209.10,AA,306,2023-10-02,06:05,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1
3,BBB,DDD,Y,T,136.38,AA,306,2023-10-02,06:05,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1
4,BBB,DDD,Y,B,645.47,AA,306,2023-10-02,06:05,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1

In [38]:
booking_data.drop(['Origin', 'Destination'], axis=1, inplace=True)
col_names = booking_data.columns.tolist()
col_names = [col_names[-1]] + col_names[:-1]
booking_data = booking_data[col_names]
booking_data

,O D,Cabin,Booking Class,Booking Class Fare USD,Airline,Flight number,Dep_Date,Dep_time,Tickets purchased on Day -365,Tickets purchased on Day -364,...,Tickets purchased on Day -9,Tickets purchased on Day -8,Tickets purchased on Day -7,Tickets purchased on Day -6,Tickets purchased on Day -5,Tickets purchased on Day -4,Tickets purchased on Day -3,Tickets purchased on Day -2,Tickets purchased on Day -1,Tickets purchased on Day 0
0,1,Y,N,200.01,AA,304,2022-04-10,05:55,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1,1,Y,H,463.65,AA,304,2022-04-10,05:55,0.0,0.0,...,0.0,0.0,0.0,1.0,5.0,1.0,0.0,0.0,0.0,0.0
2,1,Y,G,149.83,AA,304,2022-04-10,05:55,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3,1,Y,T,127.29,AA,304,2022-04-10,05:55,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
4,1,Y,S,90.92,AA,304,2022-04-10,05:55,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
195769,4,Y,I,262.00,AA,65,2023-09-20,17:45,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
195770,4,Y,T,301.27,AA,65,2023-09-20,17:45,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
195771,4,Y,M,386.14,AA,65,2023-09-20,17:45,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
195772,4,Y,H,809.18,AA,65,2023-09-20,17:45,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
195773,4,Y,N,425.34,AA,65,2023-09-20,17:45,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [39]:
booking_prediction_data.drop(['Origin', 'Destination'], axis=1, inplace=True)
col_names = booking_prediction_data.columns.tolist()
col_names = [col_names[-1]] + col_names[:-1]
booking_prediction_data = booking_prediction_data[col_names]
booking_prediction_data

,O D,Cabin,Booking Class,Booking Class Fare USD,Airline,Flight number,Dep_Date,Dep_time,Tickets purchased on Day -365,Tickets purchased on Day -364,...,Tickets purchased on Day -9,Tickets purchased on Day -8,Tickets purchased on Day -7,Tickets purchased on Day -6,Tickets purchased on Day -5,Tickets purchased on Day -4,Tickets purchased on Day -3,Tickets purchased on Day -2,Tickets purchased on Day -1,Tickets purchased on Day 0
0,1,Y,S,90.92,AA,306,2023-10-02,06:05,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1,1,Y,G,179.80,AA,306,2023-10-02,06:05,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2,1,Y,N,209.10,AA,306,2023-10-02,06:05,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3,1,Y,T,136.38,AA,306,2023-10-02,06:05,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
4,1,Y,B,645.47,AA,306,2023-10-02,06:05,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
17022,4,Y,W,968.69,AA,65,2023-09-21,17:45,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
17023,4,J,D,1348.90,AA,65,2023-09-21,17:45,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
17024,4,Y,Q,316.91,AA,65,2023-09-21,17:45,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
17025,4,Y,K,693.79,AA,65,2023-09-21,17:45,0.0,0.0,...,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0
17026,4,Y,E,533.52,AA,65,2023-09-21,17:45,0.0,0.0,...,0.0,4.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [40]:
revenue_prediction_data['O D'] = revenue_prediction_data[' Origin'] + ' ' + revenue_prediction_data[' Destination']

label_encoder = LabelEncoder()

revenue_prediction_data['O D'] = label_encoder.fit_transform(revenue_prediction_data['O D'])

col_names = revenue_prediction_data.columns.tolist()
col_names = [col_names[-1]] + col_names[:-1]
revenue_prediction_data = revenue_prediction_data[col_names]

revenue_prediction_data.drop([' Origin', ' Destination'], axis=1, inplace=True)
revenue_prediction_data

,O D,Cabin,Booking Class,Airline,Flight number,Dep_Date,Dep_time,Revenue generated on Day -365,Revenue generated on Day -364,Revenue generated on Day -363,...,Revenue generated on Day -9,Revenue generated on Day -8,Revenue generated on Day -7,Revenue generated on Day -6,Revenue generated on Day -5,Revenue generated on Day -4,Revenue generated on Day -3,Revenue generated on Day -2,Revenue generated on Day -1,Revenue generated on Day 0
0,1,Y,T,AA,306,2023-10-02,06:05,0.0,0.0,0.0,...,-0.02,0.00,0.00,0.00,0.0,0.92,0.00,1.74,109.76,-0.03
1,1,Y,N,AA,306,2023-10-02,06:05,0.0,0.0,0.0,...,-0.09,0.00,0.00,0.00,0.0,10.80,0.00,-28.17,-0.09,-0.18
2,1,Y,L,AA,306,2023-10-02,06:05,0.0,0.0,0.0,...,-0.01,0.00,0.00,0.00,0.0,-2.07,0.00,-3.66,-0.02,-0.04
3,1,Y,Q,AA,306,2023-10-02,06:05,0.0,0.0,0.0,...,-0.01,0.00,0.00,0.00,0.0,3.52,0.00,-1.40,-0.01,-0.01
4,1,Y,E,AA,306,2023-10-02,06:05,0.0,0.0,0.0,...,-0.12,0.00,0.00,0.00,0.0,-4.76,0.00,-13.68,-0.08,-0.12
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
16052,4,Y,T,AA,65,2023-09-21,17:45,0.0,0.0,0.0,...,0.00,0.00,0.00,0.00,0.0,0.00,263.10,0.00,0.90,0.00
16053,4,Y,H,AA,65,2023-09-21,17:45,0.0,0.0,0.0,...,0.00,-3.00,-22.20,2.80,0.0,-0.20,-7.00,0.00,180.20,0.00
16054,4,Y,B,AA,65,2023-09-21,17:45,0.0,0.0,0.0,...,0.00,-1.24,-9.40,1.20,0.0,-0.12,-2.96,839.81,29.25,0.00
16055,4,Y,K,AA,65,2023-09-21,17:45,0.0,0.0,0.0,...,0.00,-1.61,-11.97,1.54,0.0,-0.14,-3.78,0.00,0.00,0.00
16056,4,Y,L,AA,65,2023-09-21,17:45,0.0,0.0,0.0,...,0.00,-3.30,-24.30,3.00,0.0,-0.15,-7.65,0.00,84.60,0.00

In [41]:
revenue_data['O D'] = revenue_data[' Origin'] + ' ' + revenue_data[' Destination']

label_encoder = LabelEncoder()

revenue_data['O D'] = label_encoder.fit_transform(revenue_data['O D'])

col_names = revenue_data.columns.tolist()
col_names = [col_names[-1]] + col_names[:-1]
revenue_data = revenue_data[col_names]

revenue_data.drop([' Origin', ' Destination'], axis=1, inplace=True)
revenue_data

,O D,Cabin,Booking Class,Airline,Flight number,Dep_Date,Dep_time,Revenue generated on Day -365,Revenue generated on Day -364,Revenue generated on Day -363,...,Revenue generated on Day -9,Revenue generated on Day -8,Revenue generated on Day -7,Revenue generated on Day -6,Revenue generated on Day -5,Revenue generated on Day -4,Revenue generated on Day -3,Revenue generated on Day -2,Revenue generated on Day -1,Revenue generated on Day 0
0,1,Y,N,AA,304,2022-04-10,05:55,0.0,0.0,0.0,...,0.0,0.0,0.00,0.00,0.00,0.0,0.00,0.0,0.00,0.00
1,1,Y,T,AA,304,2022-04-10,05:55,0.0,0.0,0.0,...,0.0,0.0,0.00,0.00,0.00,0.0,0.00,0.0,0.00,0.00
2,1,Y,E,AA,304,2022-04-10,05:55,0.0,0.0,0.0,...,0.0,0.0,0.00,0.00,0.00,0.0,0.00,0.0,0.00,0.00
3,1,J,D,AA,304,2022-04-10,05:55,0.0,0.0,0.0,...,0.0,0.0,0.00,0.00,315.27,0.0,0.00,0.0,0.00,0.00
4,1,Y,V,AA,304,2022-04-10,05:55,0.0,0.0,0.0,...,0.0,0.0,0.00,0.00,0.00,0.0,0.00,0.0,148.68,0.00
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
191707,4,Y,Q,AA,65,2023-09-20,17:45,0.0,0.0,0.0,...,0.0,0.0,1.01,-1.20,0.14,0.0,-0.37,0.0,0.00,-0.37
191708,4,J,C,AA,65,2023-09-20,17:45,0.0,0.0,0.0,...,0.0,0.0,3.10,-3.70,0.46,0.0,-1.17,0.0,0.00,0.18
191709,4,Y,V,AA,65,2023-09-20,17:45,0.0,0.0,0.0,...,0.0,0.0,1.06,-1.27,0.16,0.0,-0.40,0.0,0.00,3.33
191710,4,Y,N,AA,65,2023-09-20,17:45,0.0,0.0,0.0,...,0.0,0.0,4.84,-5.76,0.72,0.0,-1.84,0.0,0.00,16.04
191711,4,Y,L,AA,65,2023-09-20,17:45,0.0,0.0,0.0,...,0.0,0.0,1.39,-1.66,0.20,0.0,-0.52,0.0,0.00,5.64

In [42]:
cols  = []
for i in range(366)[::-1]:
    cols.append(f'Ticket\'s Price on day {-i}')

merged_data[(merged_data[cols].any(axis=1))]

,Origin,Destination,Cabin,Booking Class,Booking Class Fare USD,Airline,Flight number,Dep_Date,Dep_time,Ticket's Price on day -365,...,Ticket's Price on day -9,Ticket's Price on day -8,Ticket's Price on day -7,Ticket's Price on day -6,Ticket's Price on day -5,Ticket's Price on day -4,Ticket's Price on day -3,Ticket's Price on day -2,Ticket's Price on day -1,Ticket's Price on day 0
1,BBB,DDD,Y,N,200.01,AA,304,2022-04-10,05:55,0.0,...,190.92,190.92,190.92,190.92,190.92,190.92,190.92,190.92,190.92,190.92
2,BBB,DDD,Y,H,463.65,AA,304,2022-04-10,05:55,0.0,...,0.0,0.0,0.0,463.65,463.65,463.65,463.65,463.65,463.65,463.65
3,BBB,DDD,Y,G,149.83,AA,304,2022-04-10,05:55,0.0,...,149.83,149.83,149.83,149.83,149.83,149.83,149.83,149.83,149.83,149.83
5,BBB,DDD,Y,T,127.29,AA,304,2022-04-10,05:55,0.0,...,118.2,118.2,118.2,118.2,118.2,118.2,118.2,118.2,118.2,118.2
6,BBB,DDD,Y,S,90.92,AA,304,2022-04-10,05:55,0.0,...,90.92,90.92,90.92,90.92,90.92,90.92,90.92,90.92,90.92,90.92
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
172642,YYY,CCC,Y,V,399.43,AA,65,2023-09-20,17:45,0.0,...,394.92,394.92,394.92,394.92,394.92,394.92,394.92,394.92,394.92,394.92
172643,YYY,CCC,Y,V,399.43,AA,65,2023-09-20,17:45,0.0,...,82.52,82.52,82.52,82.52,82.52,82.52,82.52,82.52,82.52,82.52
172644,YYY,CCC,Y,H,809.18,AA,65,2023-09-20,17:45,0.0,...,686.14,686.14,686.14,686.14,686.14,686.14,686.14,686.14,686.14,686.14
172645,YYY,CCC,Y,N,425.34,AA,65,2023-09-20,17:45,0.0,...,454.06,454.06,454.06,454.06,454.06,454.06,454.06,454.06,454.06,454.06
172646,YYY,CCC,Y,N,425.34,AA,65,2023-09-20,17:45,0.0,...,3.56,3.56,3.56,3.56,3.56,3.56,3.56,3.56,3.56,3.56

In [43]:
cols  = []
for i in range(366)[::-1]:
    cols.append(f'Ticket\'s Price on day {-i}')

merged_data_p[(merged_data_p[cols].any(axis=1))]

,Origin,Destination,Cabin,Booking Class,Booking Class Fare USD,Airline,Flight number,Dep_Date,Dep_time,Ticket's Price on day -365,...,Ticket's Price on day -9,Ticket's Price on day -8,Ticket's Price on day -7,Ticket's Price on day -6,Ticket's Price on day -5,Ticket's Price on day -4,Ticket's Price on day -3,Ticket's Price on day -2,Ticket's Price on day -1,Ticket's Price on day 0
0,BBB,DDD,Y,S,90.92,AA,306,2023-10-02,06:05,0.0,...,90.92,90.92,90.92,90.92,90.92,90.92,90.92,90.92,90.92,90.92
2,BBB,DDD,Y,N,209.1,AA,306,2023-10-02,06:05,0.0,...,209.1,209.1,209.1,209.1,209.1,209.1,209.1,209.1,209.1,209.1
3,BBB,DDD,Y,T,136.38,AA,306,2023-10-02,06:05,0.0,...,0.01,0.01,0.01,0.01,0.01,0.01,0.01,0.01,0.01,0.01
4,BBB,DDD,Y,T,136.38,AA,306,2023-10-02,06:05,0.0,...,136.38,136.38,136.38,136.38,136.38,136.38,136.38,136.38,136.38,136.38
5,BBB,DDD,Y,Y,736.38,AA,306,2023-10-02,06:05,0.0,...,736.38,736.38,736.38,736.38,736.38,736.38,736.38,736.38,736.38,736.38
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
14343,YYY,CCC,Y,W,968.69,AA,65,2023-09-21,17:45,0.0,...,973.04,973.04,973.04,973.04,973.04,973.04,973.04,973.04,973.04,973.04
14344,YYY,CCC,J,D,1348.9,AA,65,2023-09-21,17:45,0.0,...,1129.39,1129.39,1129.39,1129.39,1129.39,1129.39,1129.39,1129.39,1129.39,1129.39
14345,YYY,CCC,Y,K,693.79,AA,65,2023-09-21,17:45,0.0,...,696.94,696.94,696.94,696.42,696.42,696.42,696.42,696.42,696.42,696.42
14346,YYY,CCC,Y,K,693.79,AA,65,2023-09-21,17:45,0.0,...,0.0,0.0,0.0,1.54,1.54,1.54,1.54,1.54,1.54,1.54
14347,YYY,CCC,Y,E,533.52,AA,65,2023-09-21,17:45,0.0,...,512.14,533.5075,533.5075,533.5075,533.5075,533.5075,533.5075,533.5075,533.5075,533.5075

In [44]:
merged_data_p['O D'] = merged_data_p[' Origin'] + ' ' + merged_data_p[' Destination']

merged_data_p['O D'] = label_encoder.transform(merged_data_p['O D'])

col_names = merged_data_p.columns.tolist()
col_names = [col_names[-1]] + col_names[:-1]
merged_data_p = merged_data_p[col_names]

merged_data_p.drop([' Origin', ' Destination'], axis=1, inplace=True)
merged_data_p

,O D,Cabin,Booking Class,Booking Class Fare USD,Airline,Flight number,Dep_Date,Dep_time,Ticket's Price on day -365,Ticket's Price on day -364,...,Ticket's Price on day -9,Ticket's Price on day -8,Ticket's Price on day -7,Ticket's Price on day -6,Ticket's Price on day -5,Ticket's Price on day -4,Ticket's Price on day -3,Ticket's Price on day -2,Ticket's Price on day -1,Ticket's Price on day 0
0,1,Y,S,90.92,AA,306,2023-10-02,06:05,0.0,0.0,...,90.92,90.92,90.92,90.92,90.92,90.92,90.92,90.92,90.92,90.92
1,1,Y,N,209.1,AA,306,2023-10-02,06:05,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2,1,Y,N,209.1,AA,306,2023-10-02,06:05,0.0,0.0,...,209.1,209.1,209.1,209.1,209.1,209.1,209.1,209.1,209.1,209.1
3,1,Y,T,136.38,AA,306,2023-10-02,06:05,0.0,0.0,...,0.01,0.01,0.01,0.01,0.01,0.01,0.01,0.01,0.01,0.01
4,1,Y,T,136.38,AA,306,2023-10-02,06:05,0.0,0.0,...,136.38,136.38,136.38,136.38,136.38,136.38,136.38,136.38,136.38,136.38
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
14343,4,Y,W,968.69,AA,65,2023-09-21,17:45,0.0,0.0,...,973.04,973.04,973.04,973.04,973.04,973.04,973.04,973.04,973.04,973.04
14344,4,J,D,1348.9,AA,65,2023-09-21,17:45,0.0,0.0,...,1129.39,1129.39,1129.39,1129.39,1129.39,1129.39,1129.39,1129.39,1129.39,1129.39
14345,4,Y,K,693.79,AA,65,2023-09-21,17:45,0.0,0.0,...,696.94,696.94,696.94,696.42,696.42,696.42,696.42,696.42,696.42,696.42
14346,4,Y,K,693.79,AA,65,2023-09-21,17:45,0.0,0.0,...,0.0,0.0,0.0,1.54,1.54,1.54,1.54,1.54,1.54,1.54
14347,4,Y,E,533.52,AA,65,2023-09-21,17:45,0.0,0.0,...,512.14,533.5075,533.5075,533.5075,533.5075,533.5075,533.5075,533.5075,533.5075,533.5075

In [45]:
merged_data['O D'] = merged_data[' Origin'] + ' ' + merged_data[' Destination']

merged_data['O D'] = label_encoder.transform(merged_data['O D'])

col_names = merged_data.columns.tolist()
col_names = [col_names[-1]] + col_names[:-1]
merged_data = merged_data[col_names]

merged_data.drop([' Origin', ' Destination'], axis=1, inplace=True)
merged_data

,O D,Cabin,Booking Class,Booking Class Fare USD,Airline,Flight number,Dep_Date,Dep_time,Ticket's Price on day -365,Ticket's Price on day -364,...,Ticket's Price on day -9,Ticket's Price on day -8,Ticket's Price on day -7,Ticket's Price on day -6,Ticket's Price on day -5,Ticket's Price on day -4,Ticket's Price on day -3,Ticket's Price on day -2,Ticket's Price on day -1,Ticket's Price on day 0
0,1,Y,N,200.01,AA,304,2022-04-10,05:55,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1,1,Y,N,200.01,AA,304,2022-04-10,05:55,0.0,0.0,...,190.92,190.92,190.92,190.92,190.92,190.92,190.92,190.92,190.92,190.92
2,1,Y,H,463.65,AA,304,2022-04-10,05:55,0.0,0.0,...,0.0,0.0,0.0,463.65,463.65,463.65,463.65,463.65,463.65,463.65
3,1,Y,G,149.83,AA,304,2022-04-10,05:55,0.0,0.0,...,149.83,149.83,149.83,149.83,149.83,149.83,149.83,149.83,149.83,149.83
4,1,Y,T,127.29,AA,304,2022-04-10,05:55,0.0,0.0,...,-0.0,-0.0,-0.0,-0.0,-0.0,-0.0,-0.0,-0.0,-0.0,-0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
172642,4,Y,V,399.43,AA,65,2023-09-20,17:45,0.0,0.0,...,394.92,394.92,394.92,394.92,394.92,394.92,394.92,394.92,394.92,394.92
172643,4,Y,V,399.43,AA,65,2023-09-20,17:45,0.0,0.0,...,82.52,82.52,82.52,82.52,82.52,82.52,82.52,82.52,82.52,82.52
172644,4,Y,H,809.18,AA,65,2023-09-20,17:45,0.0,0.0,...,686.14,686.14,686.14,686.14,686.14,686.14,686.14,686.14,686.14,686.14
172645,4,Y,N,425.34,AA,65,2023-09-20,17:45,0.0,0.0,...,454.06,454.06,454.06,454.06,454.06,454.06,454.06,454.06,454.06,454.06
172646,4,Y,N,425.34,AA,65,2023-09-20,17:45,0.0,0.0,...,3.56,3.56,3.56,3.56,3.56,3.56,3.56,3.56,3.56,3.56

In [46]:
booking_data.rename(columns={'Dep_Time': 'Dep_time'}, inplace=True)

In [47]:
cleaned_booking_data = pd.merge(merged_data, booking_data, on=['O D', 'Flight number', 'Dep_Date', 'Dep_time', 'Airline', 'Cabin', 'Booking Class'], how='inner')

cleaned_booking_data

,O D,Cabin,Booking Class,Booking Class Fare USD _x,Airline,Flight number,Dep_Date,Dep_time,Ticket's Price on day -365,Ticket's Price on day -364,...,Tickets purchased on Day -9,Tickets purchased on Day -8,Tickets purchased on Day -7,Tickets purchased on Day -6,Tickets purchased on Day -5,Tickets purchased on Day -4,Tickets purchased on Day -3,Tickets purchased on Day -2,Tickets purchased on Day -1,Tickets purchased on Day 0
0,1,Y,N,200.01,AA,304,2022-04-10,05:55,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1,1,Y,N,200.01,AA,304,2022-04-10,05:55,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2,1,Y,H,463.65,AA,304,2022-04-10,05:55,0.0,0.0,...,0.0,0.0,0.0,1.0,5.0,1.0,0.0,0.0,0.0,0.0
3,1,Y,G,149.83,AA,304,2022-04-10,05:55,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
4,1,Y,T,127.29,AA,304,2022-04-10,05:55,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
172642,4,Y,V,399.43,AA,65,2023-09-20,17:45,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
172643,4,Y,V,399.43,AA,65,2023-09-20,17:45,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
172644,4,Y,H,809.18,AA,65,2023-09-20,17:45,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
172645,4,Y,N,425.34,AA,65,2023-09-20,17:45,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
172646,4,Y,N,425.34,AA,65,2023-09-20,17:45,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [48]:
cleaned_booking_data_p = pd.merge(merged_data_p, booking_prediction_data, on=['O D', 'Flight number', 'Dep_Date', 'Dep_time', 'Airline', 'Cabin', 'Booking Class'], how='inner')

cleaned_booking_data_p

,O D,Cabin,Booking Class,Booking Class Fare USD _x,Airline,Flight number,Dep_Date,Dep_time,Ticket's Price on day -365,Ticket's Price on day -364,...,Tickets purchased on Day -9,Tickets purchased on Day -8,Tickets purchased on Day -7,Tickets purchased on Day -6,Tickets purchased on Day -5,Tickets purchased on Day -4,Tickets purchased on Day -3,Tickets purchased on Day -2,Tickets purchased on Day -1,Tickets purchased on Day 0
0,1,Y,S,90.92,AA,306,2023-10-02,06:05,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1,1,Y,N,209.1,AA,306,2023-10-02,06:05,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2,1,Y,N,209.1,AA,306,2023-10-02,06:05,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3,1,Y,T,136.38,AA,306,2023-10-02,06:05,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
4,1,Y,T,136.38,AA,306,2023-10-02,06:05,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
14343,4,Y,W,968.69,AA,65,2023-09-21,17:45,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
14344,4,J,D,1348.9,AA,65,2023-09-21,17:45,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
14345,4,Y,K,693.79,AA,65,2023-09-21,17:45,0.0,0.0,...,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0
14346,4,Y,K,693.79,AA,65,2023-09-21,17:45,0.0,0.0,...,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0
14347,4,Y,E,533.52,AA,65,2023-09-21,17:45,0.0,0.0,...,0.0,4.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [49]:
cleaned_booking_data['Days'] = (pd.to_datetime(cleaned_booking_data['Dep_Date']) - pd.to_datetime(pd.to_datetime(cleaned_booking_data['Dep_Date']).dt.year * 10000 + 101, format='%Y%m%d')).dt.days
cleaned_booking_data

,O D,Cabin,Booking Class,Booking Class Fare USD _x,Airline,Flight number,Dep_Date,Dep_time,Ticket's Price on day -365,Ticket's Price on day -364,...,Tickets purchased on Day -8,Tickets purchased on Day -7,Tickets purchased on Day -6,Tickets purchased on Day -5,Tickets purchased on Day -4,Tickets purchased on Day -3,Tickets purchased on Day -2,Tickets purchased on Day -1,Tickets purchased on Day 0,Days
0,1,Y,N,200.01,AA,304,2022-04-10,05:55,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,99
1,1,Y,N,200.01,AA,304,2022-04-10,05:55,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,99
2,1,Y,H,463.65,AA,304,2022-04-10,05:55,0.0,0.0,...,0.0,0.0,1.0,5.0,1.0,0.0,0.0,0.0,0.0,99
3,1,Y,G,149.83,AA,304,2022-04-10,05:55,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,99
4,1,Y,T,127.29,AA,304,2022-04-10,05:55,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,99
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
172642,4,Y,V,399.43,AA,65,2023-09-20,17:45,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,262
172643,4,Y,V,399.43,AA,65,2023-09-20,17:45,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,262
172644,4,Y,H,809.18,AA,65,2023-09-20,17:45,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,262
172645,4,Y,N,425.34,AA,65,2023-09-20,17:45,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,262
172646,4,Y,N,425.34,AA,65,2023-09-20,17:45,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,262

In [50]:
cleaned_booking_data_p['Days'] = (pd.to_datetime(cleaned_booking_data_p['Dep_Date']) - pd.to_datetime(pd.to_datetime(cleaned_booking_data_p['Dep_Date']).dt.year * 10000 + 101, format='%Y%m%d')).dt.days
cleaned_booking_data_p

,O D,Cabin,Booking Class,Booking Class Fare USD _x,Airline,Flight number,Dep_Date,Dep_time,Ticket's Price on day -365,Ticket's Price on day -364,...,Tickets purchased on Day -8,Tickets purchased on Day -7,Tickets purchased on Day -6,Tickets purchased on Day -5,Tickets purchased on Day -4,Tickets purchased on Day -3,Tickets purchased on Day -2,Tickets purchased on Day -1,Tickets purchased on Day 0,Days
0,1,Y,S,90.92,AA,306,2023-10-02,06:05,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,274
1,1,Y,N,209.1,AA,306,2023-10-02,06:05,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,274
2,1,Y,N,209.1,AA,306,2023-10-02,06:05,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,274
3,1,Y,T,136.38,AA,306,2023-10-02,06:05,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,274
4,1,Y,T,136.38,AA,306,2023-10-02,06:05,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,274
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
14343,4,Y,W,968.69,AA,65,2023-09-21,17:45,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,263
14344,4,J,D,1348.9,AA,65,2023-09-21,17:45,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,263
14345,4,Y,K,693.79,AA,65,2023-09-21,17:45,0.0,0.0,...,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,263
14346,4,Y,K,693.79,AA,65,2023-09-21,17:45,0.0,0.0,...,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,263
14347,4,Y,E,533.52,AA,65,2023-09-21,17:45,0.0,0.0,...,4.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,263

In [51]:
label_encoder_time = LabelEncoder()
cleaned_booking_data['Dep_time'] = label_encoder_time.fit_transform(cleaned_booking_data['Dep_time'])
cleaned_booking_data

,O D,Cabin,Booking Class,Booking Class Fare USD _x,Airline,Flight number,Dep_Date,Dep_time,Ticket's Price on day -365,Ticket's Price on day -364,...,Tickets purchased on Day -8,Tickets purchased on Day -7,Tickets purchased on Day -6,Tickets purchased on Day -5,Tickets purchased on Day -4,Tickets purchased on Day -3,Tickets purchased on Day -2,Tickets purchased on Day -1,Tickets purchased on Day 0,Days
0,1,Y,N,200.01,AA,304,2022-04-10,1,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,99
1,1,Y,N,200.01,AA,304,2022-04-10,1,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,99
2,1,Y,H,463.65,AA,304,2022-04-10,1,0.0,0.0,...,0.0,0.0,1.0,5.0,1.0,0.0,0.0,0.0,0.0,99
3,1,Y,G,149.83,AA,304,2022-04-10,1,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,99
4,1,Y,T,127.29,AA,304,2022-04-10,1,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,99
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
172642,4,Y,V,399.43,AA,65,2023-09-20,55,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,262
172643,4,Y,V,399.43,AA,65,2023-09-20,55,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,262
172644,4,Y,H,809.18,AA,65,2023-09-20,55,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,262
172645,4,Y,N,425.34,AA,65,2023-09-20,55,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,262
172646,4,Y,N,425.34,AA,65,2023-09-20,55,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,262

In [52]:
label_encoder_time = LabelEncoder()
cleaned_booking_data_p['Dep_time'] = label_encoder_time.fit_transform(cleaned_booking_data_p['Dep_time'])
cleaned_booking_data_p

,O D,Cabin,Booking Class,Booking Class Fare USD _x,Airline,Flight number,Dep_Date,Dep_time,Ticket's Price on day -365,Ticket's Price on day -364,...,Tickets purchased on Day -8,Tickets purchased on Day -7,Tickets purchased on Day -6,Tickets purchased on Day -5,Tickets purchased on Day -4,Tickets purchased on Day -3,Tickets purchased on Day -2,Tickets purchased on Day -1,Tickets purchased on Day 0,Days
0,1,Y,S,90.92,AA,306,2023-10-02,2,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,274
1,1,Y,N,209.1,AA,306,2023-10-02,2,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,274
2,1,Y,N,209.1,AA,306,2023-10-02,2,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,274
3,1,Y,T,136.38,AA,306,2023-10-02,2,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,274
4,1,Y,T,136.38,AA,306,2023-10-02,2,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,274
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
14343,4,Y,W,968.69,AA,65,2023-09-21,32,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,263
14344,4,J,D,1348.9,AA,65,2023-09-21,32,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,263
14345,4,Y,K,693.79,AA,65,2023-09-21,32,0.0,0.0,...,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,263
14346,4,Y,K,693.79,AA,65,2023-09-21,32,0.0,0.0,...,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,263
14347,4,Y,E,533.52,AA,65,2023-09-21,32,0.0,0.0,...,4.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,263

In [53]:
label_cabin = LabelEncoder()
label_bc = LabelEncoder()
cleaned_booking_data['Cabin'] = label_cabin.fit_transform(cleaned_booking_data['Cabin'])
cleaned_booking_data['Booking Class'] = label_bc.fit_transform(cleaned_booking_data['Booking Class'])
cleaned_booking_data

,O D,Cabin,Booking Class,Booking Class Fare USD _x,Airline,Flight number,Dep_Date,Dep_time,Ticket's Price on day -365,Ticket's Price on day -364,...,Tickets purchased on Day -8,Tickets purchased on Day -7,Tickets purchased on Day -6,Tickets purchased on Day -5,Tickets purchased on Day -4,Tickets purchased on Day -3,Tickets purchased on Day -2,Tickets purchased on Day -1,Tickets purchased on Day 0,Days
0,1,1,11,200.01,AA,304,2022-04-10,1,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,99
1,1,1,11,200.01,AA,304,2022-04-10,1,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,99
2,1,1,5,463.65,AA,304,2022-04-10,1,0.0,0.0,...,0.0,0.0,1.0,5.0,1.0,0.0,0.0,0.0,0.0,99
3,1,1,4,149.83,AA,304,2022-04-10,1,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,99
4,1,1,17,127.29,AA,304,2022-04-10,1,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,99
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
172642,4,1,19,399.43,AA,65,2023-09-20,55,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,262
172643,4,1,19,399.43,AA,65,2023-09-20,55,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,262
172644,4,1,5,809.18,AA,65,2023-09-20,55,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,262
172645,4,1,11,425.34,AA,65,2023-09-20,55,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,262
172646,4,1,11,425.34,AA,65,2023-09-20,55,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,262

In [54]:
label_cabin = LabelEncoder()
label_bc = LabelEncoder()
cleaned_booking_data_p['Cabin'] = label_cabin.fit_transform(cleaned_booking_data_p['Cabin'])
cleaned_booking_data_p['Booking Class'] = label_bc.fit_transform(cleaned_booking_data_p['Booking Class'])
cleaned_booking_data_p

,O D,Cabin,Booking Class,Booking Class Fare USD _x,Airline,Flight number,Dep_Date,Dep_time,Ticket's Price on day -365,Ticket's Price on day -364,...,Tickets purchased on Day -8,Tickets purchased on Day -7,Tickets purchased on Day -6,Tickets purchased on Day -5,Tickets purchased on Day -4,Tickets purchased on Day -3,Tickets purchased on Day -2,Tickets purchased on Day -1,Tickets purchased on Day 0,Days
0,1,1,16,90.92,AA,306,2023-10-02,2,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,274
1,1,1,11,209.1,AA,306,2023-10-02,2,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,274
2,1,1,11,209.1,AA,306,2023-10-02,2,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,274
3,1,1,17,136.38,AA,306,2023-10-02,2,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,274
4,1,1,17,136.38,AA,306,2023-10-02,2,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,274
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
14343,4,1,19,968.69,AA,65,2023-09-21,32,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,263
14344,4,0,2,1348.9,AA,65,2023-09-21,32,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,263
14345,4,1,8,693.79,AA,65,2023-09-21,32,0.0,0.0,...,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,263
14346,4,1,8,693.79,AA,65,2023-09-21,32,0.0,0.0,...,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,263
14347,4,1,3,533.52,AA,65,2023-09-21,32,0.0,0.0,...,4.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,263

In [55]:
tickets_sold_col = [f'Tickets purchased on Day {i - 365}' for i in range(366)]
price_col = [f'Ticket\'s Price on day {-i}' for i in range(366)]
ts_tickets = np.array(cleaned_booking_data[tickets_sold_col])
ts_price = np.array(cleaned_booking_data[price_col])
rem = np.array(cleaned_booking_data[['O D', 'Cabin', 'Booking Class', ' Booking Class Fare USD _x', 'Flight number', 'Days', 'Dep_time']])

In [56]:
tickets_sold_col_p = [f'Tickets purchased on Day {i - 365}' for i in range(366)]
price_col_p = [f'Ticket\'s Price on day {-i}' for i in range(366)]
ts_tickets_p = np.array(cleaned_booking_data_p[tickets_sold_col_p])
ts_price_p = np.array(cleaned_booking_data_p[price_col_p])
rem_p = np.array(cleaned_booking_data_p[['O D', 'Cabin', 'Booking Class', ' Booking Class Fare USD _x', 'Flight number', 'Days', 'Dep_time']])

In [57]:
X_ts_tickets = ts_tickets[:, :273]
y_ts_tickets = ts_tickets[:, 273:]
X_ts_price = ts_tickets[:, :273]
y_ts_price = ts_tickets[:, 273:]

In [58]:
X_ts_tickets_p = ts_tickets_p[:, :273]
y_ts_tickets_p = ts_tickets_p[:, 273:]
X_ts_price_p = ts_tickets_p[:, :273]
y_ts_price_p = ts_tickets_p[:, 273:]

In [59]:
X_ts = np.dstack((X_ts_tickets, X_ts_price))
y_ts = np.dstack((y_ts_tickets, y_ts_price))

In [60]:
X_ts_p = np.dstack((X_ts_tickets_p, X_ts_price_p))
y_ts_p = np.dstack((y_ts_tickets_p, y_ts_price_p))

In [64]:
import tensorflow as tf
from tensorflow.keras.models import Sequential
from tensorflow.keras.layers import LSTM, Dense, Input, Concatenate
from tensorflow.keras.optimizers import Adam
from tensorflow.keras.models import Model

# Define the model
input_single_valued = Input(shape=(7,))  # assuming 10 features for single-valued data
input_time_series = Input(shape=(273, 2))  # 50 time steps for time series 1

# LSTM layer for time series data
lstm_layer = LSTM(273)(input_time_series)

# Concatenate the single-valued data and LSTM output
concatenated_input = Concatenate()([input_single_valued, lstm_layer])

# Dense layers for further processing
dense1 = Dense(64, activation='relu')(concatenated_input)
dense2 = Dense(32, activation='relu')(dense1)

# Output layers for time series predictions
output_time_series_1 = Dense(93, activation='linear', name='output_time_series_1')(dense2)
output_time_series_2 = Dense(93, activation='linear', name='output_time_series_2')(dense2)

# Build the model
model = Model(inputs=[input_single_valued, input_time_series], outputs=[output_time_series_1, output_time_series_2])

# Compile the model
model.compile(optimizer='adam', loss='mean_squared_error', metrics=['accuracy'])

model.summary

In [66]:
model.fit([tf.convert_to_tensor(rem, dtype=tf.float32), tf.convert_to_tensor(X_ts, dtype=tf.float32)], [tf.convert_to_tensor(y_ts[:,:,0], dtype=tf.float32), tf.convert_to_tensor(y_ts[:,:,1], dtype=tf.float32)], epochs=4, batch_size=1028, validation_split=0.2)

Epoch 1/4
135/135 [==============================] - 699s 5s/step - loss: 1.3707 - output_time_series_1_loss: 0.6766 - output_time_series_2_loss: 0.6941 - output_time_series_1_accuracy: 0.0404 - output_time_series_2_accuracy: 0.0145 - val_loss: 0.8360 - val_output_time_series_1_loss: 0.4180 - val_output_time_series_2_loss: 0.4181 - val_output_time_series_1_accuracy: 0.0214 - val_output_time_series_2_accuracy: 0.0146
Epoch 2/4
135/135 [==============================] - 697s 5s/step - loss: 0.9381 - output_time_series_1_loss: 0.4689 - output_time_series_2_loss: 0.4692 - output_time_series_1_accuracy: 0.0274 - output_time_series_2_accuracy: 0.0150 - val_loss: 0.8335 - val_output_time_series_1_loss: 0.4166 - val_output_time_series_2_loss: 0.4168 - val_output_time_series_1_accuracy: 0.0213 - val_output_time_series_2_accuracy: 0.0145
Epoch 3/4
135/135 [==============================] - 771s 6s/step - loss: 0.9283 - output_time_series_1_loss: 0.4640 - output_time_series_2_loss: 0.4643 - output_time_series_1_accuracy: 0.0274 - output_time_series_2_accuracy: 0.0224 - val_loss: 0.8314 - val_output_time_series_1_loss: 0.4156 - val_output_time_series_2_loss: 0.4158 - val_output_time_series_1_accuracy: 0.0214 - val_output_time_series_2_accuracy: 0.0220
Epoch 4/4
135/135 [==============================] - 779s 6s/step - loss: 0.9247 - output_time_series_1_loss: 0.4623 - output_time_series_2_loss: 0.4625 - output_time_series_1_accuracy: 0.0274 - output_time_series_2_accuracy: 0.0260 - val_loss: 0.8297 - val_output_time_series_1_loss: 0.4148 - val_output_time_series_2_loss: 0.4149 - val_output_time_series_1_accuracy: 0.0214 - val_output_time_series_2_accuracy: 0.0220

In [70]:
predictions = model.predict([tf.convert_to_tensor(rem_p, dtype=tf.float32), tf.convert_to_tensor(X_ts_p, dtype=tf.float32)])

449/449 [==============================] - 101s 224ms/step